<div class="col">
  <app-main-nav></app-main-nav>
  <div *ngIf="realOrder">
    <div>ORDER :</div>
    <div>UserID :{{ realOrder.userID }}</div>
    <div>TotalCost :{{ realOrder.totalCost }}</div>
    <div>Status :{{ realOrder.status }}</div>
    <div>EstimatedShippingTime :{{ realOrder.estimatedShippingTime }}</div>
    <div>Shipping ID :{{ realOrder.shippingID }}</div>
    <div>PRODUCTS :</div>
    <div *ngFor="let product of Products | async">
      <div>Product name :{{ product.name }}</div>
      <div>Product cost :{{ product.cost }}</div>
      <div>Product count :{{ product.count }}</div>
    </div>
  </div>
</div>
