<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/cart" >Cart</a>
    <ng-template [ngIf]="currentU" [ngIfElse]="loggedOut">
      <label class="col-md-4">{{ currentU.name}}</label>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </ng-template>
    <ng-template #loggedOut>
      <a class="nav-item nav-link" routerLink="/login" >Login</a>
    </ng-template>
  </div>
</nav>
