<div class="card mt-3">
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="title" class="form-control" formControlName="name" #name/>
        <div *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty || productForm.controls['name'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['name'].errors.required">
            Title is required.
          </div>
        </div>
        <label class="col-md-4">Description</label>
        <input type="title" class="form-control" formControlName="description" #description/>
        <div *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].dirty || productForm.controls['description'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['description'].errors.required">
            Description is required.
          </div>
        </div>
        <label class="col-md-4">Cost</label>
        <input type="title" class="form-control" formControlName="cost" #cost/>
        <div *ngIf="productForm.controls['cost'].invalid && (productForm.controls['cost'].dirty || productForm.controls['cost'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['cost'].errors.required">
            Cost is required.
          </div>
        </div>
        <label class="col-md-4">InStock</label>
        <input type="title" class="form-control" formControlName="inStock" #inStock/>
        <div *ngIf="productForm.controls['inStock'].invalid && (productForm.controls['inStock'].dirty || productForm.controls['inStock'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['inStock'].errors.required">
            InStock is required.
          </div>
        </div>
        <label class="col-md-4">Estimated Shipping</label>
        <input type="title" class="form-control" formControlName="estimatedShipping" #estimatedShipping/>
        <div *ngIf="productForm.controls['estimatedShipping'].invalid && (productForm.controls['estimatedShipping'].dirty || productForm.controls['estimatedShipping'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['estimatedShipping'].errors.required">
            Estimated Shipping is required.
          </div>
        </div>
        <label class="col-md-4">Image</label>
        <input type="title" class="form-control" formControlName="img" #img/>
        <div *ngIf="productForm.controls['img'].invalid && (productForm.controls['img'].dirty || productForm.controls['img'].touched)"
             class="alert alert-danger">
          <div *ngIf="productForm.controls['img'].errors.required">
            Image is required.
          </div>
        </div>
        <label class="col-md-4">Image2</label>
        <input type="title" class="form-control" formControlName="img2" #img2/>
        <label class="col-md-4">Image3</label>
        <input type="title" class="form-control" formControlName="img3" #img3/>
        <label class="col-md-4">Image4</label>
        <input type="title" class="form-control" formControlName="img4" #img4/>
        <label class="col-md-4">Image5</label>
        <input type="title" class="form-control" formControlName="img5" #img5/>
      </div>
      <div class="form-group">
        <button type="submit"
                class="btn btn-primary mr-1"
                [disabled]="productForm.pristine || productForm.invalid">Submit
        </button>
      </div>
      <button type="button" class="btn btn-primary" (click)="clearForm()">Clear</button>
    </form>
  </div>
</div>
